html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background: #222;
  image-rendering: pixelated;
}

#ui {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 4vw;
  box-sizing: border-box;
  pointer-events: none; /* Allows clicks only on buttons */
}

/* Button styling */
.ui-elem {
  display: flex;
  gap: 2vw;
  pointer-events: auto; /* Re-enable button click */
}

.btn {
  width: 14vw;
  height: 14vw;
  max-width: 80px;
  max-height: 80px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  border:1px solid #00162E;
  font-size: 6vw;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#ui-elem-left {
  position: absolute;
  bottom: 6vh;
}
#ui-elem-right {
  background-color: blue;
  flex-flow: column;
}
#attackBtn,#dashBtn,#jumpBtn,#ultBtn {
  position: absolute;
  right: 5vw;

}
#attackBtn{
  width: 100px;
  height: 100px;
  right: 5vw;
}
#jumpBtn{
  width: 60px;
  height: 60px;
  right: 28vw;
  bottom: 1vh;
}
#dashBtn {
  width: 65px;
  height: 65px;
  right: 28vw;
  bottom: 10vh;
}
#ultBtn {
  width: 60px;
  height: 60px;
  right: 13vw;
  bottom: 16vh;
}
#leftBtn,#rightBtn {
  width: 70px;
  height: 70px;
}


